body{
    min-height: 100vh;
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Bondpaper {
    position: relative;
    width: 100%;
    max-width: 1000px;
    height: 1100px;
    background: #fff;
    margin:50px;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.15), 0 12px 40px rgba(0, 0, 0, 0.1);
    background-color: grey;
}

#Profile1 {
    background-image: url(url(Black Textured Wallpaper.jfif));
    width: 30%;
}

#Profie2 {
    float: right;
}
.icons {
    width: 17px;
    height: 17px;
    vertical-align: middle;
    margin-right: 5px ;
}
.TwoByTwo {
    width: 200px;
    display: absolute;
    margin: 60px 0px 0px 50px;

}
#Contact, #TechSkills, #Languages {
    color: white;
    margin: 50px;
    font-size: 18px;
}
